:root{
    --purple: #BC8CF2;
    --black: #000000;
    --white: #F7F5F2;
    --grey: #DFDFDE;
}

h2 {
    padding: 3rem 0;
    color: var(--white);
    font-size: 4rem;
    text-decoration: underline;
}

h1 {
    color: var(--purple);
    font-size: 4rem;
    padding: 2rem;
}

*{
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    border: none;
    outline: none;
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
  	        transition: all 0.2s linear;
}

*::selection{
    color: var(--white);
    background-color: var(--purple);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body{
    background-color: var(--black);
}

section{
    padding: 2rem 5%;
}

::-webkit-scrollbar{
    width: 0.8rem;
}

::-webkit-scrollbar-thumb{
    border-radius: 1rem;
    background-color: var(--purple);
}

::-webkit-scrollbar-track{
    background-color: var(--black);
}

.swiper-pagination-bullet{
    height: 1rem;
    width: 1rem;
    border-radius: 50rem;
    background-color: var(--grey);
}

.swiper-pagination-bullet-active{
    width: 3rem;
    background: var(--purple);
}

/*--------------------- 2- Button CSS (Start) ---------------------*/
.btn{
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    color: var(--purple);
    background-color: transparent;
    border: 0.2rem solid var(--purple);
}

.btn i{
    padding-left: 1rem;
}

.btn:hover{
    color: var(--white);
    background-color: var(--purple);
    cursor: pointer;
}

/*--------------------- 2- Button CSS (End) ---------------------*/

/*--------------------- 3- Header Area CSS (Start) ---------------------*/
header{
    /*position: fixed;*/
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: transparent;
    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
    z-index: 999;
}

header.sticky{
    border-bottom: 0.1rem solid var(--grey);
    background: rgba(0, 0, 0, 0.8);
}

header .logo h2{
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--purple);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

header .navbar a{
    color: var(--white);
    font-size: 1.8rem;
    margin-left: 1rem;
}

header .navbar a:hover,
header .navbar a.active{
    color: var(--purple);
}

header #menu-btn{
    font-size: 3rem;
    color: var(--white);
    cursor: pointer;
    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
    display: none;
}

header .fa-times{
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}

header #menu-btn:hover{
    color: var(--purple);
}

.navbar {
    position: relative;
    left: 120vh;
    bottom: 7vh;
}


/*--------------------- 3- Header Area CSS (End) ---------------------*/

.home{
    padding: 0rem 5%;
    background-color: var(--black);
    min-height: 100vh;
}

.home .box-container{
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 4rem;
}

.home .image{
    text-align: center;
    -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;

}

.home .image img{
    height: 40rem;
    width: 40rem;
    border-radius: 50% 50% 50% 50% / 30% 30% 70% 70% ;
    object-fit:cover;
}

.home .content{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
        flex: 1 1 40rem;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 7rem;
}

.home .content h2{
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--purple);
}

.home .content h1{
    font-size: 4rem;
    color: var(--white);
    padding: 1rem 0;
    text-transform: none;
}

.home .content h1 span{
    color: var(--purple);

}

.home .content p{
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--white);
    padding-bottom: 2rem;
    line-height: 1.5;
}

/*---------------------  About Area CSS (Start) ---------------------*/
.about .box-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 0;
    bottom: 7vh;
    left: 120vh;
}
.about .box-container span {
    color: var(--purple);
}

.about .image{
    width: 25rem;
    text-align: center;
}

.about .image img{
    width: 100%;
    border: 1rem solid var(--purple);
}

.about .content{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 55rem;
        flex: 1 1 55rem;
}

.about .content h2{
    font-size: 3rem;
    color: var(--white);
    padding-bottom: 1rem;
    text-decoration-line: underline;
}

.about .content > p{
    font-size: 1.6rem;
    color: var(--grey);
    line-height: 1.6;
    padding-bottom: 1rem;
}

.about .content .about-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1rem;
}

.about .content .about-info .info{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 15rem;
        flex: 1 1 15rem;
}

.about .content .about-info .info h4{
    font-size: 1.6rem;
    color: var(--white);
    padding-bottom: 1rem;
}

.about .content .about-info .info span{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--grey);
}

.about .content .about-info .info .btn{
    margin-top: 1rem;
}

.skill-container{
    padding: 2rem 0;
}
.skill-container  span {
    color: var(--purple);
}

.skills{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.skill-item{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30rem;
        flex: 1 1 30rem;
    margin-right: 1.5rem;
}

.skill-item .box{
    padding:1rem 0;
}

 .skill-item .box h3{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    justify-content: space-between;
    padding:.7rem 0;
    font-size: 1.7rem;
    color: var(--white);
    font-weight: 400;
}

 .skill-item .box .progress-bar{
    width:100%;
    background:#222;
    overflow:hidden;
    height:1rem;
    border-radius: 50rem;
}

 .skill-item .box .progress-bar span{
    display:block;
    height:100%;
    background: var(--purple);
}

 .skill-item.item1 .box:nth-child(1) .progress-bar span{
    width:95%;
}

 .skill-item.item1 .box:nth-child(2) .progress-bar span{
    width:90%;
}

 .skill-item.item1 .box:nth-child(3) .progress-bar span{
    width:85%;
}

.skill-item.item2 .box:nth-child(1) .progress-bar span{
    width:75%;
}

 .skill-item.item2 .box:nth-child(2) .progress-bar span{
    width:65%;
}

 .skill-item.item2 .box:nth-child(3) .progress-bar span{
    width:60%;
}

/*---------------------  About Area CSS (End) ---------------------*/

/*---------------------  Qualification Area CSS (Start) ---------------------*/
.qualification .box-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 4rem;
}
.qualification span {
    color: var(--purple);
}

.education, .experience{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
        flex: 1 1 40rem;
}

.experience-item{
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
        flex: 1 1 40rem;
    padding: 0 3rem 2rem 3rem;
    border-left: 0.2rem solid var(--purple);
    margin-left: 2rem;
}

.experience-item i{
    position: absolute;
    top: 0; 
    left: -2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:var(--white);
    background:var(--purple);
}

.experience-item .content{
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    border-left: 2rem;
}

.experience-item span{
    background: #222;
    color: var(--white);
    padding: 0.5rem 1.5rem;
    font-size: 1.8rem;
    border-radius: 50rem;
}

.experience-item h3{
    font-size: 2.5rem;
    color: var(--white);
    padding: 2rem 0;
}

.experience-item p{
    color: var(--grey);
    font-size: 1.6rem;
    line-height: 2.5rem;
}

/*---------------------  Qualification Area CSS (End) ---------------------*/

/*---------------------  project Area CSS (Start) ---------------------*/
.project .box-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.project span {
    color: var(--purple);
}

.project-item{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 33rem;
        flex: 1 1 33rem;
    background-color: var(--black);
    padding: 4rem 3rem;
    text-align: center;
    border: 5px solid rgba(255, 255, 255, 0.947);
    border-radius: 2px;
    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
}

.project-item:hover{
    background-color: var(--purple);
}

.project-item i{
    color: var(--white);
    font-size: 4rem;
}

.project-item h3{
    font-size: 2rem;
    color: var(--white);
    padding: 1.5rem 0;
    text-decoration: underline;
}

.project-item p{
    font-size: 1.6rem;
    color: var(--grey);
    line-height: 1.6;
}

.project-item:hover p{
    color: var(--white);
}
.project.image{
    text-align: center;
          width: 10rem;

}

.project .image img{
    height: 20rem;
    width: 35rem;
    object-fit:cover;
}

/*---------------------  project Area CSS (End) ---------------------*/

/*---------------------  Contact Area CSS (Start) ---------------------*/
.contact .alert{
    font-size: 2rem;
    color: var(--purple);
    border-radius: 0.5rem;
    padding-left: 1rem;
}
.contact span {
    color: var(--purple);
}

.contact .box-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact-info{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
        flex: 1 1 42rem;
}

.contact-info h3{
    font-size: 3rem;
    color: var(--white);
}

.contact-info > p{
    font-size: 1.6rem;
    color: var(--grey);
    padding: 0.5rem 0;
}

.contact-info .info-item{
    padding: 1rem 0;
}

.contact-info .info-item .gmail,
.contact-info .info-item .linkedin,
.contact-info .info-item .github{
    text-transform: none;
}

.contact-info .info-item h4{
    font-size: 1.8rem;
    color: var(--white);
}

.contact-info .info-item .detail{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact-info .info-item .detail .fas,
.contact-info .info-item .detail .fab{
    border-radius: 50%;
    color: var(--purple);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.5rem;
}

.contact-info .info-item .detail p{
    font-size: 1.6rem;
    color: var(--grey);
    line-height: 1.6;
    padding-left: 1rem;
}



.contact-form{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
        flex: 1 1 42rem;
        border: 6px solid white;
        border-radius: 12px;
        padding: 1.5rem;
        margin: auto;
}

.contact-form .box{
    width: 100%;
    text-transform: none;
    color: var(--grey);
    font-size: 1.6rem;
    border: 0.1rem solid rgba(135, 26, 139, 0.1);
    padding: 1.5rem;
    margin: 0.5rem 0;
    background-color: #222;
}

.contact-form .box:focus{
    border-color: var(--white);
}

.contact-form .box::placeholder{
    color: var(--grey);
}

.contact-form textarea{
    height: 15rem;
    resize: none;
}

.contact-form .btn{
    margin-top: 1rem;
}
/*---------------------  Contact Area CSS (End) ---------------------*/



/*--------------------- 12- Footer Area CSS (Start) ---------------------*/
footer{
    background-color: #7F7FD5;
    padding: 2rem 0;
    text-align: center;
}

footer .social{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2rem 0;
}

footer .social .fab{
    background-color: var(--black);
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    color: var(--white);
    font-size: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0.5rem;
}

footer .social .fab:hover{
    color: var(--black);
    background-color: var(--white);
}

footer .content p{
    font-size: 2rem;
    color: var(--white);
    font-family:'Nunito Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    word-spacing: 3px;
}

footer .content p span{
    color: var(--black);
}

/*--------------------- 12- Footer Area CSS (End) ---------------------*/


/*--------------------- 13- Scroll-Top (Start) ---------------------*/
.scroll-top{
    position: fixed;
    bottom: 1rem;
    right:1rem;
    height: 5rem;
    width: 5rem;
    font-size: 3rem;
    font-weight:lighter;
    background: var(--black);
    color: var(--white);
    border: 0.2rem solid var(--white);
    border-radius: 50%;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .scroll-top:hover{
    background: var(--white);
    color:var(--black);
  }

/*--------------------- 13- Scroll-Top (End) ---------------------*/


/*--------------------- Responsive (Start) ---------------------*/
@media (max-width: 991px){
    html{
        font-size: 55%;
    }
}

@media (max-width: 768px){
    header #menu-btn{
        display: block;
      } 
  
      .header .navbar{
        width: 30rem;
        position: absolute;
        right: 0; 
        top:100%;
        padding: 0rem 2rem;
        background: #F7F5F2;
        border: 0.1rem solid #BC8CF2;
        -webkit-transition: 0.2s linear;
        -moz-transition: 0.2s linear;
        -o-transition: 0.2s linear;
        transition: 0.2s linear;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        height: calc(100vh - 6rem);
        overflow-y: auto;
        -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    }
  
    .header .navbar.active{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
  
    .header .navbar a{
        display: block;
        color: #000000;
        padding: 1.5rem 0;
        margin: 1rem 0;
    }
  
    .navbar::-webkit-scrollbar{
        width: 0.8rem;
    }
  
    .navbar::-webkit-scrollbar-thumb{
        border-radius: 1rem;
        background-color: #BC8CF2;
    }
  
    .navbar::-webkit-scrollbar-track{
        background: transparent;
    }

    section, header{
        padding: 2rem;
    }

}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }

    section, header{
        padding: 1rem;
    }
    
}

/*--------------------- Responsive (End) ---------------------*/

